:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0000008c;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 4px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.hookname{
  font-size: 2rem;
  font-weight: bold;
}
.card{
  border: 1px solid #eaeaea67;
  border-radius: 8px;
  margin: 1.2rem;
  background-color: rgb(27, 27, 27);
  max-width: 700px;
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.575);
 
  
}
.card1{
  border: 1px solid #0014635e;
  border-radius: 8px;
  margin: 1.5rem;
  background-color: rgba(0, 20, 99, 0.452);
  max-width: 700px;
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.575);
  padding: 10px;
  width: fit-content;
  display: grid;
  justify-content: center;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  top: 6px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
.subtext{
  color: #8b8b8b;
  font-size: 1rem;
  font-weight: 400;

}
.midtext{
  color: white;
  font-weight: 400;
  cursor: pointer ;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.meme{
  width: 20rem;
  height: auto;
  border-radius: 8px;
  border: 1px solid #eaeaea;
}
.info{
  width: 40rem;
  height: auto;
  border-radius: 8px;
  border: 1px solid #eaeaea;
}

/*responsive code*/
@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  .card1{
    grid-template-columns: 1fr 1fr;
  }
  .card{
    margin: 1rem;
    max-width: 500px;
  }
  .meme{
    width: 15rem;
  }
  .info{
    width: 28rem;
  }
  .codesnippet{
    font-size: 0.2rem;
  }
}
@media (max-width: 691px){
  .card{
    max-width: 24rem;
  }

}
@media (max-width: 472px){
  .card{
    max-width: 20rem;
  }
  .info{
    width: 20rem;
  }

}
@media (max-width: 440px){
  .card{
    max-width: 18rem;
  }

}

.texter{
  margin-top: 2rem;
  border-top: 1px solid #eaeaea67;
  padding-top: 10px;
  font-size: 1.3rem;
}

.close{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: #880404;
  border-radius: 0 0 0 8px;
}

.memetext::before{
  content: "* I Hate CSS (Ignore styling)";
  position: absolute;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 12px;
  filter: drop-shadow(0 0 2em #000000aa);
}

.refresh{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
 width: fit-content;
  cursor: pointer;
  margin: 6px;
  border-radius: 8px;
  border: 1px solid #044b9c;
  color: white;
  background-color: #044b9c8c;
}